@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 100% 100%;
    --foreground: 215 5% 10%;
    --card: 215 10% 100%;
    --card-foreground: 215 5% 10%;
    --popover: 215 10% 100%;
    --popover-foreground: 215 5% 10%;
    --primary: 215 75% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 116 35% 76%;      
    --secondary-foreground: 215 5% 10%;
    --muted: 215 10% 90%;          
    --muted-foreground: 215 5% 45%;
    --accent: 215 20% 95%;         
    --accent-foreground: 215 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 263 5% 100%;
    --border: 215 10% 88%;
    --input: 215 30% 50%;
    --ring: 215 75% 30%;
    --radius: 1rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 215 60% 98%;
    --sidebar-foreground: 215 5% 10%;
    --sidebar-primary: 215 75% 30%; 
    --sidebar-primary-foreground: 0 0% 100%;
    
    --sidebar-accent: 215 10% 90%;
    --sidebar-accent-foreground: 215 5% 15%;
    --sidebar-border: 215 15% 85%;
    --sidebar-ring: 215 75% 30%;
  }
  .dark {
    --background: 215 80% 10%; 
    --foreground: 215 10% 95%;  /* Light text */
    --card: 215 80% 12%;        
    --card-foreground: 215 10% 95%;
    --popover: 215 80% 5%;
    --popover-foreground: 215 10% 95%;
    --primary: 215 80% 70%;        
    --primary-foreground: 215 20% 10%;
    --secondary: 117 35% 52%;      
    --secondary-foreground: 215 10% 95%;
    --muted: 215 20% 20%;
    --muted-foreground: 215 10% 60%;
    --accent: 215 25% 20%;
    --accent-foreground: 215 10% 90%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 263 5% 100%;
    --border: 215 20% 30%;
    --input: 215 20% 40%;
    --ring: 215 80% 70%; 
    --radius: 1rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
   --sidebar-background: 215 80% 14%;
    --sidebar-foreground: 215 80% 90%;
    --sidebar-primary: 215 80% 70%; 
    --sidebar-primary-foreground: 215 20% 10%; 
    --sidebar-accent: 215 20% 20%;
    --sidebar-accent-foreground: 215 10% 90%;
    --sidebar-border: 215 20% 25%;
    --sidebar-ring: 215 80% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
